/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* IBM Plex Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* Monofett */
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
/* Newsreader */
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap");
/* Libre Barcode 39 Extended Text */
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text:wght@400;500;600;700&display=swap");
/* Zen Tokyo Zoo */
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
/* Inria Serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");

/* Váš hlavní CSS soubor (assets/css/styles.css) */
/* Váš hlavní CSS soubor (assets/css/styles.css) */

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
}

[data-scroll-container] {
  height: auto;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #37210e;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 300ms, height 300ms;
  z-index: 999;
}

.cursor-white {
  border: 2px solid #dbdbdb;
}


.cursor.large {
  height: 90px;
  width: 90px;
  border: 2px solid #37210e;

}

.sliding-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fixed-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f0e8d8;
  color: #333;
}

.sliding-content {
  background: black;
  color: white;
}

.dev {
  font-size: 10rem;
  font-family: "Inria Serif";
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.barcode {
  font-family: "Libre Barcode 39 Extended Text";
  font-size: 3.1rem;
  margin: 0;
  padding: 0;
  color: #37210e;
  font-weight: 600;
}

.dev-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #37210e;
  cursor: none;
}

.ms-logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Monofett";
  z-index: 1000;
  font-size: 1.4rem;
  color: #5b4531;
}
.ms-logo-white{
  color: #725943;
}

.ticker {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  white-space: nowrap;
  overflow: hidden;
  background-color: #e1dbc5;
  color: #37210e;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  z-index: 100;
}

.ticker-text {
  white-space: nowrap;
  animation: ticker 50s linear infinite;
  animation-delay: -10s;
}

.ticker-item {
  padding-right: 70px; 
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0); 
  }
}

.what-text{
  font-size: 10rem;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #C5B392;
}


