/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* IBM Plex Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* Monofett */
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
/* Newsreader */
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap");
/* Libre Barcode 39 Extended Text */
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text:wght@400;500;600;700&display=swap");
/* Zen Tokyo Zoo */
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
/* Inria Serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");




body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
}

body::selection {
  background-color: #000000;
  color: #ffffff;
}

[data-scroll-container] {
  height: auto;
}

.reveal-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-on-scroll.reveal {
  opacity: 1;
  transform: translateY(0);
}



#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #060606; /* nebo jiná barva pozadí */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

#preloader-text {
  font-size: 2em; /* upravte podle potřeby */
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  white-space: pre; /* umožňuje zachovat mezery v textu */
  font-family: "IBM Plex Mono";
  color: rgb(222, 233, 225);
}


.preloader-letter {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.3s, transform 0.3s;
}

.space {
  width: 0.5rem; /* Zajištění mezery mezi jménem a příjmením */
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 300ms, height 300ms;
  z-index: 999;
  mix-blend-mode: difference;

}

@keyframes slideIn {
  0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    top: 25px;
    opacity: 1;
  }
}

/* .ms-logo {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Monofett";
  font-size: 2vh;
  color: #5b4531; 
  color: #acacac;
  pointer-events: auto;
  z-index: 1000;
  mix-blend-mode: difference;
} */

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: auto;
  z-index: 1000;
  mix-blend-mode: difference;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  max-width: 100%;
}

.links {
  display: flex;
  margin-right: 5%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-family: "IBM Plex Mono";
  font-size: 2vh;
  padding: 0 1.25rem;
  height: 100%;
}

.navbar a:hover {
  text-decoration: underline;
}


body.loaded .navbar {
  animation: slideIn 1.5s ease-out forwards; /* Spustí animaci při načtení */
}


.cursor.large {
  height: 90px;
  width: 90px;
  border: 2px solid #fff;
  mix-blend-mode: difference;
}


.sliding-content {
  height: 100vh;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  background-color: #10100e;
  /* background-image: url('https://wallpapers.com/images/featured-full/pure-black-background-py9pa0f1mlsscm9s.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; */

}

.sliding-content2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 4%;
  background-color: #ffffe1;
  position: relative;
  z-index: 2;
  /* background-image: url('../images/sliding.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat; */
}

.sliding-content3 {
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
  color: #ffffe3;
  position: relative;
  padding: 0;
  z-index: 1;
  background-color: #10100e;
  /* background-image: url('../images/sliding.jpg');
  background-position: 50% 57.5%;
  background-repeat: no-repeat; */
}


.fixed-content {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed-content2 {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #ffffe1;
  color: #333;
  justify-content: space-between;
  position: relative;
}





.dev {
  /* font-family: "Inria Serif"; */
  font-family: 'Clash Display', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.barcode {
  position: absolute;
  top: 75%;
  left: 5%;
  transform-origin: left top;
  font-family: "Libre Barcode 39 Extended Text";
  font-size: 2vw;
  margin: 0;
  padding: 0;
  font-weight: 200;
  z-index: 2;
  color: #c3c3c3;
  mix-blend-mode: difference; 
}

.live-clock {
  position: absolute;
  color: #c3c3c3;
  mix-blend-mode: difference;
  left: 6%;
  top: 70%;
  font-size: 2rem;
  font-family: 'IBM Plex Mono', sans-serif;
}



/* Přidáme animaci pro reveal z pravé strany */
@keyframes slideInRight {
  0% {
    transform: translateX(100%); /* Start mimo obrazovku (zprava) */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Konečná pozice */
    opacity: 1;
  }
}

.scrolldown {
  font-size: 1.4rem;
  color: #fff;
  mix-blend-mode: difference;
  display: flex;
  position: absolute;
  bottom: 8rem;
  right: 5.5%;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  opacity: 0; /* Start hidden */
  animation: slideInRight 1.2s ease-out forwards; /* Slide-in effect */
  animation-delay: 1s; /* Zpoždění animace po načtení stránky */
}


.dev-logo {
  cursor: none;
  color: #c3c3c3;
  mix-blend-mode: difference;
}

.dev-logo .dev{
  font-size: 50vh;
}

#devLogo {
  position: fixed;
  left: 5%;
  top: 10px;
  transition: transform 0.2s ease-out;
  transform-origin: top left; 
  z-index: 800;
}



.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
  pointer-events: none; /* Allows clicks to pass through */
}

.background-video-wrapper {
  position: fixed; /* Změna z 'absolute' na 'fixed' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Udržuje video za obsahem */
  overflow: hidden;
}


#backgroundVideo {
  position: absolute; /* Přidáno 'position: absolute' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}



.ticker {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  white-space: nowrap;
  overflow: hidden;
  /* background-color: #e1dbc5;
  color: #37210e; */
  background-color: #4f4f4f74;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  z-index: 100;
}

.ticker-text {
  white-space: nowrap;
  animation: ticker 50s linear infinite;
  animation-delay: -10s;
}

.ticker-item {
  padding-right: 40px;
}



@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.what-text {
  font-size: 11rem;
  font-family: 'General Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #ac9b7b;
  margin-left: -10px;
}

.left-content {
  flex-basis: 50%;
}

.right-content {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.card {
  background: #222222;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  color: #222222;
  opacity: 0; /* Start with cards hidden */
  transform: translateY(20px); /* Slightly move up */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for reveal */
}

.reveal {
  opacity: 1; /* Fully visible when revealed */
  transform: translateY(0); /* Move back to original position */
}



.card-toggle h2 {
  font-family: 'General Sans', sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  margin-left: 10px;
}

.card-toggle {
  display: flex;
  width: 100%;
  align-items: center; /* Zarovnání položek ve středu */
}

.card-title {
  flex-grow: 1; /* Umožní nadpisu zabrat dostupný prostor */
  margin: 0.7rem; /* Adjust or remove if not needed */
  cursor: none;
  padding-left: 20px;
  color: #ac9b7b;
  display: flex;
  justify-content: space-between; /* Rozloží text a ikonu na opačné strany */
  align-items: center; /* Centruje položky vertikálně */
}

.toggle-icon {
  font-size: 3rem;
}

.card-content {
  margin-top: 0;
  font-family: 'General Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  padding-left: 30px;
  padding-right: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}
.card.active,
.card.active h2 {
  background: #c5b392;
  color: #37210e;
}

.insight-text {
  font-family: 'General Sans', sans-serif;
  font-weight: 400;
  margin-top: -20px;
  padding-left: 17px;
  color: #5a5a5a;
  font-size: 1.72rem;
  text-transform: uppercase;
}

.what-text, .insight-text {
  opacity: 0;
  transform: translateY(60px); /* Start moved up */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.is-inview .what-text, .is-inview .insight-text {
  opacity: 1;
  transform: translateY(0); /* Move to normal position */
}


.what-text sup,
.skills-text sup,
.about-text sup,
.contact-text-left sup {
  font-family: "IBM Plex Mono";
  font-size: 1.2rem;
  vertical-align: top;
  margin-left: -12px;
  color: #5a5a5a;
}

.thin-text {
  font-weight: 300;
}

.skills-text {
  font-size: 11rem;
  font-family: "Roboto";
  margin: 20px;
  padding: 0;
  font-weight: 700;
  color: #5b4531;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.skills-subtext {
  font-family: "Zen Tokyo Zoo";
  font-size: 2rem;
  color: #37210e;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease, transform 3s ease;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reveal {
  opacity: 1 !important; /* Plně viditelný, když je element v viewportu */
  transform: translateY(0px) !important; /* Vrátíme na původní pozici */
}
.skills-text {
  margin-bottom: 0;
}

.skills-subtext {
  margin-top: 0;
  max-width: 70%;
  text-align: center;
}
.tickers-container {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.ticker2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #ffffe1;
  border: 3px solid #10100e;
  color: #7e7e7e;
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 2.4rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 100;
  height: 10vh;
}

.ticker-skills {
  display: inline-block;
  white-space: nowrap;
  animation: tickerAnimation 20s linear infinite;
}
.ticker-skills2 {
  display: inline-block;
  white-space: nowrap;
  animation: tickerAnimation2 20s linear infinite;
}

.ticker-item {
  display: inline-block;
  padding-right: 50px;
}

@keyframes tickerAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Posun o polovinu šířky obsahu */
  }
}
@keyframes tickerAnimation2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0); /* Posun o polovinu šířky obsahu */
  }
}

.about-text {
  font-size: 11rem;
  font-family: 'Gambarino', serif;
  margin: 40px;
  padding: 0;
  font-weight: 400;
  color: #252525;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.about {
  max-width: 950px;
  text-align: center;
  font-family: 'Switzer', sans-serif;
  font-size: 1.7rem;
  color: #3a3a3a;
  line-height: 2.7rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.arrow img {
  height: 4vh;
}
.arrow {
  margin-top: 4vw;
  rotate: -44.5deg;
  animation: bounceTwiceWaitThenRepeat 3s infinite;
}

.arrow2 {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 80px 20px;
}
.arrow2 img {
  height: 4vw;
}

.contact-text-left {
  font-size: 8vw;
  font-family: "Roboto";
  font-style: italic;
  margin: 0 0 20px 20px;
  padding: 0;
  font-weight: 700;
  color: #b5b5b5;
}
.contact-text-right {
  font-size: 4vw;
  font-family: "Roboto";
  font-style: italic;
  margin: 0 40px 0 0;
  padding: 0;
  font-weight: 300;
  color: #707070;
  text-align: right;
}



.infoul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "IBM Plex Mono";
  font-size: 2rem;
  margin-left: 40px;
  color: #808080;
}

.custom-hr {
  width: 0;
  border: none;
  height: 4px;
  background-color: #c5b392;
  margin: 0;
  padding: 0;
  transition: width 1s ease-out;
}
.line-visible.custom-hr {
  width: 100%;
}

.contact-link {
  font-family: "Inter";
  font-size: 3.3rem;
  margin: 40px;
  color: #bbbbbb;
  cursor: none;
  font-weight: 600;
}

.contact-link:hover {
  color: #c5b392;
}

.row-contact {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 40px;
}

.email-li,
.email-container {
  flex-basis: 60%;
}
.instagram-li,
.instagram-container {
  flex-basis: 40%;
}

@keyframes bounceTwiceWaitThenRepeat {
  0%,
  100% {
    bottom: 15vh;
  }
  10%,
  20% {
    bottom: 14vh;
  }
  30%,
  40% {
    bottom: 15vh;
  }
  50%,
  60% {
    bottom: 14vh;
  }
  70% {
    bottom: 15vh;
  }
  80%,
  90% {
    opacity: 1;
  }
}


@media only screen and (max-width: 2050px) {
  .what-text {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 1920px) {
  .what-text {
    font-size: 8rem;
  }
  .skills-text {
    font-size: 8rem;
  }
  .about-text {
    font-size: 8rem;
  }
  .card {
    padding: 0.1rem;
    border-radius: 20px;
  }
  .card-toggle h2 {
    font-size: 1.8rem;
  }
  .toggle-icon {
    font-size: 2.4rem;
  }
  .left-content {
    flex-basis: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .contact-link {
    font-size: 2.7rem;
  }
  .insight-text {
    font-size: 1.4rem;
  }
  .what-text {
    font-size: 6.5rem;
  }
  .skills-text {
    font-size: 6.5rem;
  }
  .skills-subtext {
    font-size: 1.7rem;
  }
  .about-text {
    font-size: 6.5rem;
  }
}
@media only screen and (max-width: 1178px) {
  .contact-link {
    font-size: 2.3rem;
  }
  .card-toggle h2 {
    font-size: 1.7rem;
  }
  .insight-text {
    font-size: 1.2rem;
  }
  .what-text{
    font-size: 6rem;
  }
}
@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }

  .sliding-content{
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .right-content{
    margin: auto 100px;
  }


  .infoul{
    font-size: 3.3vw;
  }
  .contact-text-left{
    font-size: 7.2vw;
  }

  .contact-link {
    font-size: 3.5vw;
  }

  /* Re-enable the default cursor */
  body,
  html {
    cursor: auto;
  }

  .ticker2{
    font-size: 1.7rem;
  }



}

::selection {
  background-color: #5b4531;
  color: #ffffff;
}

::-moz-selection {
  background-color: #5b4531;
  color: #ffffff;
}